{*
 * @author Svaťa
 *}

{define #article}
<div>
	<h2>{$article->headline}</h2>
	<p>{$article->text}</p>
</div>
{ifset $test}{$test}{/ifset}
{/define}

{define #articleHeadline}
	<h1>{$article->headline}</h1>
{/define}

{define input}
	{label $name /}{input $name}
{/define}