{*
 * @author Svaťa
 *}

{includeblock ../blocks/blocks.latte}
 
{define input}
<span>{include #parent}</span>
{/define}
 
{block content}
	<div id="content">
		{include article article => $post}

		{form form}
			{include input name => 'x'}
		{/form}
	</div>
{/block}