{* This is the welcome page, you can delete it *}

{includeblock ../blocks/blocks.latte}

{define sex}
	<big n:tag-if="$sex == 'male'">{$sex}</big>
{/define}

{block content}
	<div id="content">
		<h1>Školení Listopad!</h1>
		<p>
			Obsah
		</p>
		{var $test = 5}

		{include article article => $article, test => $test}
		
		{var $sexes = ['male', 'velke']}
		{foreach $sexes as $sex}
			<div {if $iterator->counter == 3}style="background-color: blue"{/if}>
				{include sex}</div>
				{sep},{/sep}
		{/foreach}
	</div>
{/block}

{block title}Dneska{/block}